div.footer {
	position: absolute;
	bottom: 20px;
	height: 20px;
	font-size: small;
}

dl { 
	padding: 3px;
}
dl dt { 
	float: left; clear: left; font-weight: bold; width: 190px; text-align:right; padding: 3px;
}
dl dd { 
	margin-left: 200px; padding: 3px;
}

div#live_map {
  	z-index: 2;
    border: 1px solid #666;
    border-style: ridge;
    width: 50%; height: 600px;
}